name: Odoo Addons Deployment

on:
  push:
    branches:
      - dev
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    env:
      TARGET_BRANCH: ${{ github.ref_name }}
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure Environment Variables (SSH_USER is root)
        run: |
          if [ "${{ env.TARGET_BRANCH }}" == "dev" ]; then
            echo "HOST=${{ secrets.TEST_HOST }}" >> $GITHUB_ENV
            echo "SSH_USER=root" >> $GITHUB_ENV 
            echo "REMOTE_BASE_PATH=/home/odoo/develop" >> $GITHUB_ENV
            echo "REMOTE_ADDONS_PATH=/home/odoo/develop/addons" >> $GITHUB_ENV
          elif [ "${{ env.TARGET_BRANCH }}" == "prod" ]; then
            echo "HOST=${{ secrets.PROD_HOST }}" >> $GITHUB_ENV
            echo "SSH_USER=root" >> $GITHUB_ENV 
            echo "REMOTE_BASE_PATH=/home/nabel/odoo-16-docker" >> $GITHUB_ENV
            echo "REMOTE_ADDONS_PATH=/home/nabel/odoo-16-docker/addons" >> $GITHUB_ENV
          else
            echo "Unknown branch. Exiting."
            exit 1
          fi

      - name: Deploy Addons and Restart Odoo Container
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.HOST }}
          username: ${{ env.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          # UTILISER LES PARAMÈTRES DÉDIÉS DE L'ACTION (Ignorer l'avertissement)
          # Cela devrait utiliser l'authentification de la connexion principale.
          source: "./" # Dossier local à copier (racine du repo)
          target: ${{ env.REMOTE_ADDONS_PATH }} # Dossier de destination sur le serveur
          rsync_options: "-avz --delete" # Option rsync

          script: |
            echo "Starting post-deployment actions for ${{ env.TARGET_BRANCH }}..."
            
            # 2. Restart Odoo container
            echo "Restarting Odoo service 'odoo16'..."
            cd ${{ env.REMOTE_BASE_PATH }}
            docker compose restart odoo16
            
            echo "Deployment complete."